In [1]:
import sys
sys.path.append("/Users/csiu/repo/kick/src/python")

In [2]:
import custom
import sim_doc

import pandas as pd
import numpy as np

In [3]:
%matplotlib inline

In [4]:
import seaborn as sns

In [5]:
# Get data
dk = custom.DatabaseKick()
cur = dk.connect()

cur.execute("SELECT topic, COUNT(*) FROM info GROUP BY topic")
rows = cur.fetchall()
df = pd.DataFrame(rows, columns=["topic", "n"])

df.sort_values(by="n", ascending=False).head(10)

                topic     n
39                Web  4476
14               Apps  4000
126  Children's Books  4000
100        Indie Rock  4000
33        Video Games  4000
78     Product Design  4000
76     Country & Folk  4000
74     Narrative Film  4000
17          Webseries  4000
16        Documentary  4000

- we show the top 10 topics
- "Documentary" seems interesting
- we want enough samples

In [6]:
# Get project names where topic is Documentary
cur.execute("SELECT id, name FROM info WHERE topic = 'Documentary'")
rows = cur.fetchall()
df = pd.DataFrame(rows, columns=["id", "document"])

print(df.shape)
df.head()

(4000, 2)

           id                          document
0   677283457  Hackers in Uganda: A Documentary
1   766993194                          "LESLIE"
2   892572813                         Hardwater
3  1851676788                  Following Boruch
4   518903190                           11/4/08

In [7]:
dk.disconnect()

In [8]:
sim_doc.preprocess_data(df)

0                              hacker uganda documentari
1                                                  lesli
2                                                hardwat
3                                          follow boruch
4
5                    live alon conni convers documentari
6                                      leav atlanta film
7                           dejavu dissect memori camera
8                   far isnt far enough tomi unger stori
9       bee chang nation campaign vanish bee documentari
10                                      boon documentari
11                    way back yarasquin coffe pilgrimag
12      good grief make cartoon colleg documentari comic
13                            leon claxton harlem havana
14                                     clown documentari
15                    xoxosm documentari love st centuri
16                       pow wow share art commun hawaii
17             mother earth documentari earthbound begin
18                    start revolut new documentari film
19                           colossu destini melvin tale
20              escaramuza ride heart featur documentari
21                                            empir film
22                                        last cosmonaut
23                      american winter documentari film
24                    moment stori boston women movement
25                                         garden summer
26                                    event life al hawk
27                                        unchart amazon
28                                 la tierra de lo adios
29                                islam futur toler movi
                              ...
3970        bob ferbrach denver sound beyond documentari
3971        everi everyth music life time grant hart ver
3972                                           east west
3973                           question documentari seri
3974                             bring heavi houston dvd
3975              peacemak project documentari refuge us
3976                                        journey home
3977                        one man one cano two countri
3978       shredweis present bala perdida americana tour
3979                    dvd germanamerican steuben parad
3980                 bloodlin art life vincent castiglia
3981                                         random kind
3982                                 get money life road
3983                     reinvent paint upcycl mix media
3984                               peopl problem mani us
3985                     alabama beauti documentari film
3986                                          santa clau
3987                        lost gener untold stori adhd
3988                                           race zero
3989                                           bell ring
3990                                        fatal promis
3991         bali life orphanag documentari post product
3992                          high plain heritag project
3993                doityourself music scene documentari
3994                                         licens pimp
3995                                       boy meet drag
3996             beer peopl explor michigan beer breweri
3997       free rang heritag meet hope rockumentari film
3998                 cook cleveland culinari documentari
3999               basco balikbayan project journey root
Name: doc_processed, dtype: object

In [13]:
df[["id", "doc_processed"]].to_csv("day61.txt", index=False)